{{define "main"}}


<div class="container">
  <div class="content">
    <div class="content_text">
      <a class="beautiful-link" href="https://coursera.org/share/e0e1243d55869e9d982cc12ce65b241a">
        <h3>IBM Certified Full Stack Software Developer</h3>                   
      </a>
      <p>
        I'm proud to share that I have achieved the IBM Full Stack Software Developer certification. This professional journey has expanded my expertise across a suite of modern technologies, empowering me to build comprehensive software solutions from front to backend. It stands as a testament to my commitment to continuous learning and professional growth in the dynamic field of software development.
      </p>
    </div>
    <a class="beautiful-link" href="https://coursera.org/share/e0e1243d55869e9d982cc12ce65b241a">
      <img src="https://github.com/JulioContrerasH/JulioContrerasH.github.io/blob/main/images/logo_ibm.png?raw=true" alt="IBM Certification Badge" width="80%" class="img">
    </a>
  </div>

  <div class="content">
    <div class="content_text">
      <a class="beautiful-link" href="https://coursera.org/share/66e51844490e2b02efd98bd3023f5f62">
        <h3>Big Data Specialization Certification by UC San Diego</h3>                   
      </a>
      <p>
        I am thrilled to announce my completion of the Big Data Specialization offered through Coursera by UC San Diego. This comprehensive learning journey has equipped me with essential skills in data modeling, management systems, integration, processing, and analytics, paving the way for advanced data science initiatives. The culmination of this specialization with a capstone project in partnership with Splunk has been a profound step in my data science career.
      </p>
    </div>
    <a class="beautiful-link" href="https://coursera.org/share/66e51844490e2b02efd98bd3023f5f62">
      <img src="https://github.com/JulioContrerasH/JulioContrerasH.github.io/blob/main/images/logo_UCSD.png?raw=true" alt="Big Data Certification Badge" width="80%" class="img">
    </a>
  </div>
  
  <div class="content">
    <div class="content_text">
      <a class="beautiful-link" href="https://coursera.org/share/274191a924014fd94452a47d38b6871b">
        <h3>Deep Learning Specialization Completion</h3>                   
      </a>
      <p>
        I am delighted to share that I've completed the Deep Learning Specialization through Coursera. This journey has honed my skills in building neural network architectures, including Convolutional and Recurrent Neural Networks, and applying them to real-world applications like speech recognition and natural language processing. It's been an inspiring step forward in mastering AI technologies.
      </p>
    </div>
    <a class="beautiful-link" href="https://coursera.org/share/274191a924014fd94452a47d38b6871b">
      <img src="https://github.com/JulioContrerasH/JulioContrerasH.github.io/blob/main/images/deep_logo.png?raw=true" alt="Deep Learning Certification Badge" width="80%" class="img">
    </a>
  </div>  

  <div class="content">
    <div class="content_text">
      <a class="beautiful-link" href="https://drive.google.com/file/d/1VtGXOWZ7Q7tF-kpjc00hMvtawMzQi0KU/view?usp=sharing">
        <h3>Top Graduate Honors in Geographic Engineering</h3>                   
      </a>
      <p>
        I'm honored to have been recognized for my dedication and performance in Geographic Engineering, having achieved the distinction of being the top graduating student in my class. This accolade is a reflection of my commitment to academic excellence and passion for the field.
      </p>
    </div>
    <a class="beautiful-link" href="https://drive.google.com/file/d/1VtGXOWZ7Q7tF-kpjc00hMvtawMzQi0KU/view?usp=sharing">
      <img src="https://github.com/JulioContrerasH/JulioContrerasH.github.io/blob/main/images/logo_unmsm.png?raw=true" alt="Top Graduate Badge" width="80%" class="img">
    </a>
  </div>
  
  <div class="content">
  <div class="content_text">
    <a class="beautiful-link" href="https://www.overleaf.com/read/wvydczgskwky#29d0a3">
    <h3>SEN2NAIP: A large-scale dataset for Sentinel-2 Image Super-Resolution</h3>                   
    </a>
    <p>
      Co-authored a paper in Scientific Data on SEN2NAIP, a comprehensive dataset for training super-resolution models, enhancing Sentinel-2 imagery spatial resolution for broad applications.
    </p>
  </div>
  <a href="https://www.overleaf.com/read/wvydczgskwky#29d0a3">
<img src="https://github.com/JulioContrerasH/JulioContrerasH.github.io/blob/main/images/s2naip.png?raw=true" alt="Image 1" width="80%" class="img">
  </a>
  </div>


<div class="content">
  <div class="content_text">
    <a class="beautiful-link" href="https://juliocontrerash.github.io/ml-stac/">
    <h3>ML-STAC</h3>
    </a>
    <p>Contributed as a co-author to the development of ML-STAC, a framework providing a unified structure for cataloguing and adapting Earth Observation datasets for Machine Learning model training. This work introduces an efficient format for EO data, streamlining dataset preparation and access for diverse machine learning tasks.</p>
  </div>
  <a class="beautiful-link" href="https://juliocontrerash.github.io/ml-stac/">
  <img src="https://github.com/JulioContrerasH/JulioContrerasH.github.io/blob/main/images/mlstac.png?raw=true" alt="Image 1" width="80%" class="img">
  </a>
</div>


<p style="text-align:center"><a class="link" href="../">Go back home</a></p>

</div>

<style>
    .content {
      display: flex;
      align-items: center; /* Centrar verticalmente los elementos */

      margin-bottom: 20px; /* Espacio entre cada conjunto de texto e imagen */
    }
    .content_text {
      flex: 1; /* Que ocupe el espacio restante */
      position: relative; /* Posición relativa para el contenido */
    }
    
    .img {
      margin-left: 20px;
      max-width: 100%; /* Limitar el ancho máximo de las imágenes */
      max-height: 100px;
    }
    
    .hyperlink-container {
      display: inline-block;
      background-color: #1d2021; /* Dark background for contrast */
      padding: 10px; /* Some padding around the link */
      border-radius: 5px; /* Rounded corners for the container */
    }
  
    .beautiful-link {
      text-decoration: none; /* Removes the underline from the link */
      font-size: 20px; /* Adjusts the size of the link text */
      color: #5887fc; /* Initial color of the link */
      font-family: Arial, sans-serif; /* Font style for the link */
      transition: color 0.3s ease; /* Smooth transition for color change */
    }
  
    .beautiful-link:hover {
      color: #859094; /* Color of the link when hovered over */
      cursor: pointer; /* Changes the cursor to indicate a clickable link */
    }    
</style>
{{ end }}

