{{define "main"}}


<div class="container">
    
  <div class="content">
  <div class="content_text">
    <a class="beautiful-link" href="https://www.overleaf.com/read/wvydczgskwky#29d0a3">
    <h3>SEN2NAIP: A large-scale dataset for Sentinel-2 Image Super-Resolution</h3>                   
    </a>
    <p>
      Co-authored a paper in Scientific Data on SEN2NAIP, a comprehensive dataset for training super-resolution models, enhancing Sentinel-2 imagery spatial resolution for broad applications.
    </p>
  </div>
  <a href="https://www.overleaf.com/read/wvydczgskwky#29d0a3">
  <img src="https://raw.githubusercontent.com/JulioContrerasH/JulioContrerasH.github.io/main/images/s2naip.png" alt="Image 1" width="80%" class="img">
  </a>
  </div>


<div class="content">
  <div class="content_text">
    <a class="beautiful-link" href="https://juliocontrerash.github.io/ml-stac/">
    <h3>ML-STAC</h3>
    </a>
    <p>Contributed as a co-author to the development of ML-STAC, a framework providing a unified structure for cataloguing and adapting Earth Observation datasets for Machine Learning model training. This work introduces an efficient format for EO data, streamlining dataset preparation and access for diverse machine learning tasks.</p>
  </div>
  <a class="beautiful-link" href="https://cloudsen12.github.io/map.html">
  <img src="https://raw.githubusercontent.com/JulioContrerasH/JulioContrerasH.github.io/blob/main/images/mlstac.png" alt="Image 1" width="80%" class="img">
  </a>
</div>


<p style="text-align:center"><a class="link" href="../">Go back home</a></p>

</div>

<style>
    .content {
      display: flex;
      align-items: center; /* Centrar verticalmente los elementos */

      margin-bottom: 20px; /* Espacio entre cada conjunto de texto e imagen */
    }
    .content_text {
      flex: 1; /* Que ocupe el espacio restante */
      position: relative; /* Posición relativa para el contenido */
    }
    
    .img {
      margin-left: 20px;
      max-width: 100%; /* Limitar el ancho máximo de las imágenes */
      max-height: 100px;
    }
    
    .hyperlink-container {
      display: inline-block;
      background-color: #1d2021; /* Dark background for contrast */
      padding: 10px; /* Some padding around the link */
      border-radius: 5px; /* Rounded corners for the container */
    }
  
    .beautiful-link {
      text-decoration: none; /* Removes the underline from the link */
      font-size: 20px; /* Adjusts the size of the link text */
      color: #5887fc; /* Initial color of the link */
      font-family: Arial, sans-serif; /* Font style for the link */
      transition: color 0.3s ease; /* Smooth transition for color change */
    }
  
    .beautiful-link:hover {
      color: #859094; /* Color of the link when hovered over */
      cursor: pointer; /* Changes the cursor to indicate a clickable link */
    }    
</style>
{{ end }}

